body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5F3F5;
}

h1 {
    position: relative;
    color: white;
    font-size: 31px;
    z-index: 1;
}

.event-page {
    margin-top: 20px;
    padding: 20px;
}

#description{
    font-size: large;
}

.info strong{
    font-size: large;
}

.info i{
    font-size: large;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.fill::before{
    content: "";
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 25%, transparent 50%);
    width: 100%;
    height: 100%;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    width: 50px;
    height: 400px;
}

.fill h1{
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-weight: bold;
    font-size: 35pt;
    margin: 0;
}

.tags {
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

.tags span {
    display: inline-block;
    padding: 10px 16px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
}


.tag-18 {
    background-color: #d32f2f;
    font-size: 12pt !important;
    padding: 5px !important;
    font-weight: bold;
    cursor: pointer;
}

.tag-18:hover{
    text-decoration: underline;
}

.tag-koncert {
    background-color: #00796b;
}

.tag {
    background-color: #cdcee9;
    color: black !important;
    font-size: 12pt !important;
    padding: 5px !important;
    font-weight: bold;
    cursor: pointer;

}

.tag:hover{
    text-decoration: underline;
}
.content {
    display: flex;
    gap: 26px;
    margin-top: 26px;
}

.details {
    flex: 2;
    background-color: #ffffff;
    padding: 26px;
    border-radius: 15.6px;
    box-shadow: 0 5.2px 13px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}

.info {
    flex: 1;
    background-color: #f8f8f8;
    border-radius: 15.6px;
    padding: 26px;
    box-shadow: 0 5.2px 13px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 13px 20.8px;
    border-radius: 7.8px;
    margin: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
    height: auto;
    text-align: center;
}

.info button:hover {
    background-color: #3700b3;
}


.info p {
    font-size: 1.3rem;
    color: #000000;
    margin-top: 13px;
    text-align: left;
}

.organizer {
    margin-top: 19.5px;
    color: #333333;
    font-size: large;
}

.organizer span {
    display: inline-block;
    padding: 7.8px 13px;
    background-color: #eeeeee;
    border-radius: 6.5px;
}

.gallery {
    margin-top: 26px;
    padding: 13px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 26px;
    background-color: white;
    padding: 26px;
    border-radius: 13px;
    box-shadow: 0 2.6px 6.5px rgba(0, 0, 0, 0.1);
}

.gallery img {
    width: 100%;
    border-radius: 13px;
    box-shadow: 0 5.2px 13px rgba(0, 0, 0, 0.2);
}

.comments {
    margin-top: 26px;
    background-color: white;
    padding: 26px;
    border-radius: 13px;
    box-shadow: 0 2.6px 6.5px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 100%;
    width: 100%;
    margin-top: 5%;
}

.comment-input {
    display: flex;
    gap: 13px;
}

.comment-input input {
    flex: 1;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 7.8px;
}

.comment-input button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 13px 26px;
    border-radius: 7.8px;
    cursor: pointer;
}

.comment {
    margin-top: 13px;
    padding: 13px;
    border-bottom: 1px solid #eee;
}

.comment:last-child {
    border-bottom: none;
}

.comment .author {
    font-weight: bold;
    color: #6200ea;
}

.comment .text {
    margin-top: 6.5px;
}

.link-button {
    background: none;
    border: none;
    color: #337ab7;
    cursor: pointer;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
  }

.link-button:hover{
    text-decoration: underline;
    color: #23527c;
}

.black{
    color: black !important;
}

.reply{
    padding: 0px;
    margin: 0px;
    padding-top: 13px;
    padding-left: 40px;
    background: rgb(90,99,156);
    background: linear-gradient(90deg, rgba(255,255,255,1) 13px,rgba(119,118,179,1) 13px, rgba(119,118,179,1) 23px, rgba(255,255,255,1) 23px);
}

.replybtn{
    float: right;
    display: inline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .info button {
        font-size: 100%;
        width: 80%;
        margin: 10px auto;
    }

    .comments {
        max-width: 100%;
        margin: auto;
        margin-top: 20px;
    }
}
