:root{
    --dark: rgba(90,99,156,1);
    --light: rgba(119,118,179,1);
    --border: #ccc;
    --soft-text: #5a5a5a;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

header {
    top: 0px;
    position: sticky;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    background: linear-gradient(135deg, var(--dark) 50%, var(--light) 50%);
    z-index: 100;
}

h1 {
    position: relative;
    color: white;
    font-size: 24px;
    z-index: 1;
}

#dropdownMenuButton{
    border: none;
    background-color: transparent;
}
#dropdownMenuButton img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.loginLinks{
    position: absolute;
    right: 5px;
    color: white !important;
    font-size: larger;
}

.loginLinks a{
    color: white !important;
}

.search-container {
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    z-index: 2;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 50%;
    outline: none;
    background-color: white;
}

.search-container input {
    background: none;
    outline: none;
    border: none;
    width: 95%;
}

.search-container button {
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
    color: #777;
}

.circle-icon {
    position: absolute;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--light);
    cursor: pointer;
    z-index: 3;
}

.circle-icon i {
    font-size: 18px;
    color: #000000;
}

.dropdown-menu {
    min-width: 160px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    position: absolute;
    left: -160px;
    top: 50px;
    border: 1px solid var(--border);
}

.dropdown-menu li {
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
    background-color: #e9ecef;
}

.dropdown-menu a {
    padding-left: 0;
}

.hamburger-icon-div {
    position: absolute;
    left: 0px;
    margin-left: 20px;
    background-color: white;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.hamburger-icon {
    padding: 0px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 20%;
}

#message{
    background: rgb(7, 227, 7);
    background: linear-gradient(90deg, rgba(7,227,7,1) 10px, rgba(255,255,255,1) 2%);
    max-width: 95%;
    text-align: center;
    width: fit-content;
    padding: 8px;
    padding-left: 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
    border: 1px solid var(--border);
    border-radius: 16px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 110;

    visibility: hidden;
    opacity: 0;

    transition: all 0.5ms ease-in-out;
}

#errorMessage{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 10px, rgba(255,255,255,1) 2%);
    max-width: 95%;
    text-align: center;
    width: fit-content;
    padding: 8px;
    padding-left: 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
    border: 1px solid var(--border);
    border-radius: 16px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 110;
    visibility: hidden;
    opacity: 0;

    transition: all 0.5ms ease-in-out;
}

#message h3, #errorMessage h3{
    margin: 0px;
    padding: 0px;
}

#confirmPopup{
    max-width: 95%;
    text-align: center;
    width: fit-content;
    padding: 8px;
    padding-left: 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
    border: 1px solid var(--border);
    border-radius: 16px;
    z-index: 999;
    visibility: visible;
    opacity: 1;

    transition: all 0.5ms ease-in-out;
}

#confirmPopup button{
    color: white;
    background-color: var(--light);
    border-radius: 16px;
    font-size: large;
    border: 1px solid var(--border);
    outline: none;
}
#confirmPopup button:hover{
    filter: brightness(0.8);
}

.link-light{
    background-color: #6200ea;
    border-radius: 12px;
    padding: 7px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.link-light:hover{
    background-color: #3700b3;
    color: white;
}