body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5F3F5;
}

.circle-icon {
    position: absolute;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7776B3;
    cursor: pointer;
    z-index: 3;
}

.circle-icon i {
    font-size: 18px;
    color: #000000;
}

.dropdown-menu {
    min-width: 160px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    position: absolute;
    left: -160px;
    top: 50px;
    border: 1px solid #ccc;
}

.dropdown-menu li {
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
    background-color: #e9ecef;
}

.dropdown-menu a {
    padding-left: 0;
}

.hamburger-icon {
    position: absolute;
    left: 20px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7776B3;
    cursor: pointer;
    z-index: 3;
}

.hamburger-icon i {
    font-size: 18px;
    color: #000000;
}

.container {
    margin: 4%;
    width: auto;
    flex: 2;
    background-color: #ffffff;
    padding: 26px;
    border-radius: 15.6px;
    box-shadow: 0 5.2px 13px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}

.submitbutton{
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 13px 20.8px;
    border-radius: 7.8px;
    margin: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 100px;
    height: auto;
    text-align: center;
}

.submitbutton :hover{
    background-color: #3700b3;
}
@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    .info button {
        font-size: 100%;
        width: 80%;
        margin: 10px auto;
    }

    .comments {
        max-width: 80%;
    }
    .submitbutton{
        max-width: 200px;
        font-size: 90%;
    }
}
