body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5F3F5;
}

.container {
    margin: 4%;
    width: auto;
    flex: 2;
    background-color: #ffffff;
    padding: 26px;
    border-radius: 15.6px;
    box-shadow: 0 5.2px 13px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}

.submitbutton {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 13px 20.8px;
    border-radius: 7.8px;
    margin: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 100px;
    height: auto;
    text-align: center;
}

.submitbutton:hover {
    background-color: #3700b3;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.tag {
    background-color: #cdcee9;
    color: black !important;
    font-size: 0.95rem;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 18px;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.tag:hover {
    background-color: #b3b5d6;
}


@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    .info button {
        font-size: 100%;
        width: 80%;
        margin: 10px auto;
    }

    .comments {
        max-width: 80%;
    }

    .submitbutton {
        max-width: 200px;
        font-size: 90%;
    }
}
